In [1]:
import pandas as pd
df = pd.read_csv('nbalist.csv')

In [2]:
first = df[df['Year'] >= 2008]
last = df[df['Year'] <= 2018]
print(first,last)

    Year       Western Champion     Eastern Champion Result  \
58  2008     Los Angeles Lakers       Boston Celtics    2–4
59  2009     Los Angeles Lakers        Orlando Magic    4–1
60  2010     Los Angeles Lakers       Boston Celtics    4–3
61  2011       Dallas Mavericks           Miami Heat    4–2
62  2012  Oklahoma City Thunder           Miami Heat    1–4
63  2013      San Antonio Spurs           Miami Heat    3–4
64  2014      San Antonio Spurs           Miami Heat    4–1
65  2015  Golden State Warriors  Cleveland Cavaliers    4–2
66  2016  Golden State Warriors  Cleveland Cavaliers    4–3
67  2017  Golden State Warriors  Cleveland Cavaliers    4-2
68  2018  Golden State Warriors  Cleveland Cavaliers    4-0

             NBA Champion      NBA Vice-Champion  Final Sweep ?      MVP Name  \
58         Boston Celtics     Los Angeles Lakers          False     K. Bryant
59     Los Angeles Lakers          Orlando Magic          False      L. James
60     Los Angeles Lakers         Boston Celtics          False      L. James
61       Dallas Mavericks             Miami Heat          False       D. Rose
62             Miami Heat  Oklahoma City Thunder          False      L. James
63             Miami Heat      San Antonio Spurs          False      L. James
64      San Antonio Spurs             Miami Heat          False     K. Durant
65  Golden State Warriors    Cleveland Cavaliers          False      S. Curry
66    Cleveland Cavaliers  Golden State Warriors          False      S. Curry
67  Golden State Warriors    Cleveland Cavaliers          False  R. Westbrook
68  Golden State Warriors    Cleveland Cavaliers           True     J. Harden

    MVP Height (m)  MVP Height (ft) MVP Position               MVP Team  \
58            1.98             6.50        Guard     Los Angeles Lakers
59            2.03             6.66      Forward    Cleveland Cavaliers
60            2.03             6.66      Forward    Cleveland Cavaliers
61            1.91             6.27        Guard          Chicago Bulls
62            2.03             6.66      Forward             Miami Heat
63            2.03             6.66      Forward             Miami Heat
64            2.06             6.76      Forward  Oklahoma City Thunder
65            1.91             6.27        Guard  Golden State Warriors
66            1.91             6.27        Guard  Golden State Warriors
67            1.91             6.27        Guard  Oklahoma City Thunder
68            1.96             6.50        Guard        Houston Rockets

   MVP Nationality         MVP status
58              US      Vice-Champion
59              US  Not reached Final
60              US  Not reached Final
61              US  Not reached Final
62              US           Champion
63              US           Champion
64              US  Not reached Final
65              US           Champion
66              US      Vice-Champion
67              US  Not reached Final
68              US  Not reached Final       Year       Western Champion     Eastern Champion Result  \
0   1950     Minneapolis Lakers   Syracuse Nationals    4–2
1   1951       Rochester Royals      New York Knicks    4–3
2   1952     Minneapolis Lakers      New York Knicks    4–3
3   1953     Minneapolis Lakers      New York Knicks    4–1
4   1954     Minneapolis Lakers   Syracuse Nationals    4–3
..   ...                    ...                  ...    ...
64  2014      San Antonio Spurs           Miami Heat    4–1
65  2015  Golden State Warriors  Cleveland Cavaliers    4–2
66  2016  Golden State Warriors  Cleveland Cavaliers    4–3
67  2017  Golden State Warriors  Cleveland Cavaliers    4-2
68  2018  Golden State Warriors  Cleveland Cavaliers    4-0

             NBA Champion      NBA Vice-Champion  Final Sweep ?      MVP Name  \
0      Minneapolis Lakers     Syracuse Nationals          False           NaN
1        Rochester Royals        New York Knicks          False           NaN
2      Minneapolis Lakers        New York Knicks          False           NaN
3      Minneapolis Lakers        New York Knicks          False           NaN
4      Minneapolis Lakers     Syracuse Nationals          False           NaN
..                    ...                    ...            ...           ...
64      San Antonio Spurs             Miami Heat          False     K. Durant
65  Golden State Warriors    Cleveland Cavaliers          False      S. Curry
66    Cleveland Cavaliers  Golden State Warriors          False      S. Curry
67  Golden State Warriors    Cleveland Cavaliers          False  R. Westbrook
68  Golden State Warriors    Cleveland Cavaliers           True     J. Harden

    MVP Height (m)  MVP Height (ft) MVP Position               MVP Team  \
0              NaN              NaN          NaN                    NaN
1              NaN              NaN          NaN                    NaN
2              NaN              NaN          NaN                    NaN
3              NaN              NaN          NaN                    NaN
4              NaN              NaN          NaN                    NaN
..             ...              ...          ...                    ...
64            2.06             6.76      Forward  Oklahoma City Thunder
65            1.91             6.27        Guard  Golden State Warriors
66            1.91             6.27        Guard  Golden State Warriors
67            1.91             6.27        Guard  Oklahoma City Thunder
68            1.96             6.50        Guard        Houston Rockets

   MVP Nationality         MVP status
0              NaN                NaN
1              NaN                NaN
2              NaN                NaN
3              NaN                NaN
4              NaN                NaN
..             ...                ...
64              US  Not reached Final
65              US           Champion
66              US      Vice-Champion
67              US  Not reached Final
68              US  Not reached Final

[69 rows x 14 columns]

In [12]:
import pandas as pd
df = pd.read_csv('NBA_Player_Stats_2.csv')

In [14]:
df2 = df[(df['Season'] == '2008-09')&(df['Player'] == 'LeBron James')]
df2

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season,MVP
6078,208,LeBron James,SF,24,CLE,81,81,37.7,9.7,19.9,...,6.3,7.6,7.2,1.7,1.1,3.0,1.7,28.4,2008-09,True

In [15]:
df3 = df[(df['Season'] == '2009-10')&(df['Player'] == 'LeBron James')]
df3

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season,MVP
6664,222,LeBron James,SF,25,CLE,76,76,39.0,10.1,20.1,...,6.4,7.3,8.6,1.6,1.0,3.4,1.6,29.7,2009-10,True

In [16]:
df4 = df[(df['Season'] == '2010-11')&(df['Player'] == 'Derrick Rose')]
df4

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season,MVP
7438,356,Derrick Rose,PG,22,CHI,81,81,37.4,8.8,19.7,...,3.1,4.1,7.7,1.0,0.6,3.4,1.7,25.0,2010-11,True

In [18]:
df5 = df[(df['Season'] == '2011-12')&(df['Player'] == 'LeBron James')]
df5

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season,MVP
7833,234,LeBron James,SF,27,MIA,62,62,37.5,10.0,18.9,...,6.4,7.9,6.2,1.9,0.8,3.4,1.5,27.1,2011-12,True

In [19]:
df6 = df[(df['Season'] == '2012-13')&(df['Player'] == 'LeBron James')]
df6

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season,MVP
8361,213,LeBron James,PF,28,MIA,76,76,37.9,10.1,17.8,...,6.8,8.0,7.3,1.7,0.9,3.0,1.4,26.8,2012-13,True

In [20]:
df7 = df[(df['Season'] == '2013-14')&(df['Player'] == 'Kevin Durant')]
df7

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season,MVP
8855,134,Kevin Durant,SF,25,OKC,81,81,38.5,10.5,20.8,...,6.7,7.4,5.5,1.3,0.7,3.5,2.1,32.0,2013-14,True

In [25]:
df8 = df[(df['Season'] == '2014-15')&(df['Player'] == 'Stephen Curry')]
df8

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season,MVP
9407,112,Stephen Curry,PG,26,GSW,80,80,32.7,8.2,16.8,...,3.6,4.3,7.7,2.0,0.2,3.1,2.0,23.8,2014-15,True

In [30]:
df9 = df[(df['Season'] == '2015-16')&(df['Player'] == 'Stephen Curry')]
df9

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season,MVP
10030,105,Stephen Curry,PG,27,GSW,79,79,34.2,10.2,20.2,...,4.6,5.4,6.7,2.1,0.2,3.3,2.0,30.1,2015-16,True

In [27]:
df10 = df[(df['Season'] == '2016-17')&(df['Player'] == 'Russell Westbrook')]
df10

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season,MVP
11041,458,Russell Westbrook,PG,28,OKC,81,81,34.6,10.2,24.0,...,9.0,10.7,10.4,1.6,0.4,5.4,2.3,31.6,2016-17,True

In [28]:
df11 = df[(df['Season'] == '2017-18')&(df['Player'] == 'James Harden')]
df11

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season,MVP
11302,195,James Harden,SG,28,HOU,72,72,35.4,9.0,20.1,...,4.8,5.4,8.8,1.8,0.7,4.4,2.3,30.4,2017-18,True